
body{
	background: lightgray;
}


nav li a.nav-link{

	font-size: 20px;
}

nav a.navbar-brand{
	font-size: 26px;
}

.card .list-group a{
	/*text-decoration: none;
	color: black;*/
	font-weight: bold;
}